html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section {
  margin-top: 10em;
}
.matches {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-home {
  display: flexbox;
  justify-content: space-between;
  margin-top: 9em;
}

h1 {
  font-size: 150px;
  margin-bottom: 20px;
}

.tagline {
  font-weight: bold;
  font-size: 20px; 
}

.logout-link {
  cursor: pointer;
}

